<!-- Projects -->

<div class="wrapper">
  <!-- <div class="trans-background">One</div> -->
  <div class="one">Two</div>
  <div class="two">Three</div>
  <div class="three">Four</div>
  <div class="four">Five</div>
  <div class="five">Six</div>
  <div class="six">One</div>
  <div class="seven">Two</div>
  <div class="eight">Three</div>
  <div class="nine">Four</div>
  <div class="ten">Five</div>

  <div class="oneq">Two</div>
  <div class="twoq">Three</div>
  <div class="threeq">Four</div>
  <div class="four">Five</div>
  <div class="fiveq">Six</div>
  <div class="sixq">One</div>
  <div class="sevenq">Two</div>
  <div class="eightq">Three</div>
  <div class="nineq">Four</div>
  <div class="tenq">Five</div>
  <div class="oneq">Two</div>
  <div class="twoq">Three</div>
  <div class="threeq">Four</div>
  <div class="fourq">Five</div>
  <div class="fiveq">Six</div>
  <div class="sixq">One</div>
  <div class="sevenq">Two</div>
  <div class="eightq">Three</div>
  <div class="nineq">Four</div>
  <div class="tenq">Five</div>


  <!-- <div class="paper-background">Six</div> -->
</div>


<%= render 'form' %>

<%= link_to 'All Projects', projects_path %>