/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html, body {

   /* Colors */
  --translucent-white-bg: rgba(255, 255, 255, .65); 

  background: lightgrey; /* Needed for hex background */
  background-image: url(hex-bg.svg);
  margin: 0; /* Keeps 0 border */
}


/* Necessary for sticky footer */
.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* Necessary for sticky footer */
.pageContent {
  flex: 1;
}

.nav {
  background-color: var(--translucent-white-bg);
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 20px 20px 20px 20px;
  list-style: none;
}

.nav a {
  color: indigo;
  text-decoration: none;
}

.content {
  background-color: var(--translucent-white-bg);
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 20px 0 20px;
}

.footer {
  background-color: var(--translucent-white-bg);
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 20px 20px 20px 20px;
    list-style: none;
}

.footer a {
  color: indigo;
  text-decoration: none;
}

.main{
    order: 2;
    padding: 30px;
    background-color: var(--translucent-white-bg);
    min-height: 66vh; /* Temporary, until image is on home */
}

/* Small screens */
@media all and (max-width: 550px) {

  .sidebar {
    width: 0;
  }

  .navFlexContainer {
    display: flex;
    flex-direction: row-reverse;
  }

  .navFlexItem1 {
      flex: 1;
  }

  .navFlexItem2 {
      flex: 2;
  }

  a {
    line-height: 25px;
    text-align: right;
  }

  .berry {
    position: absolute;
    margin-bottom: 10px;
    padding: 8px 20px 20px 20px;
  }

  .berryName {
    padding-top: 20px;
    padding-right: 70px;
  }

  .footFlexContainer {
    display: flex;
    flex-direction: row-reverse;
  }

  .footFlexItem2 {
    flex: 1;
    align-items: flex-end;
  }

}

/* Medium screens */
@media all and (min-width: 550px) {

  .sidebar {
    width: 0;
  }

  .navFlexContainer {
    display: flex;
  }

  .navSubContainer {
    display: flex;
  }

  .navFlexItem1 {
      flex: 2;
  }

  .navFlexItem2 {
      flex: 1;
  }

  .nav a {
    padding: 8px;
  }

  .berry {
    position: absolute;
    margin-bottom: 10px;
    padding: 8px 20px 20px 20px;
  }

  .berryName {
    padding-left: 80px;
  }

  .sidebarLeft{
      order: 1;
  }

  .sidebarRight{
      order: 3;
  }

  .contFlexContainer {
    display: flex;
  }

  .contFlexItem {
    flex: 1
  }

  .footFlexContainer {
    display: flex;
  }

  .footSubContainer {
    display: flex;
  }

  .footFlexItem1 {
    flex: 1;
  }

  .main {
    order: 2;
    overflow: auto;
  }


}

/* Large screens */
@media all and (min-width: 850px) {

  .sidebar {
    width: 10%;
    padding: 10px;
  }

  .sidebarLeft{
      order: 1;
  }

  .sidebarRight{
      order: 3;
  }

  .navFlexContainer {
    display: flex;
  }

  .navSubContainer {
    display: flex;
  }

  .navFlexItem {
      flex: 1;
  }

  .nav a {
    padding: 0 1em;
  }

  .berry {
    position: absolute;
    margin-bottom: 10px;
    padding: 8px 20px 20px 20px;
  }

  .berryName {
    padding-left: 80px;
  }

  .contFlexContainer {
    display: flex;
  }

  .contFlexItem {
    flex: 1
  }

  .footFlexContainer {
    display: flex;
  }

  .footSubContainer {
    display: flex;
  }

  .footFlexItem {
    flex: 1;
  }
}






a {color: darkpurple;}      /* unvisited link */
a:visited {color: darkpurple;}  /* visited link */
a:hover {color: #888888;}  /* mouse over link */
a:active {color: darkpurple;}


@import 'rouge';
      